{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% set s = submission %}
{% block title %}Submissions #{{s.id}} - {{ parent() }}{% endblock %}

{% block h2 %}Submission #{{s.id}}{% endblock %}

{% block content %}
  <h3>General</h3>
  <table>
    <tr>
      <th>Problem</th>
      <th>Submitter</th>
      <th>Accepted</th>
      <th>Score</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Submit Time</th>
      <th>Judge Time</th>
    </tr>
    <tr>
      <td><a href="{{ path_for('problem', { 'problem_id': s.problem_id }) }}">{{ s.problem_title }}</a></td>
      <td><a href="{{ path_for('user', {'user_id': s.submitter_id }) }}">{{ s.submitter_username }}</a></td>
      <td>{% include "components/yes-no-unsure.html" with {"yes": s.accepted, "no": s.rejected} %}</td>
      <td>{% include "components/min-max-full.html" with {"min": s.minscore, "max": s.maxscore, "full": s.fullscore} %}</td>
      <td>{% if not s.time is null %}{{ s.time }} ms {% endif %}</td>
      <td>{% if not s.memory is null %}{{ s.memory }} KiB{% endif %}</td>
      <td>{% include "components/timestamp.html" with {"time": s.submit_time} %}</td>
      <td>{% include "components/timestamp.html" with {"time": s.judge_time} %}</td>
    </tr>
  </table>
  <h3>Source Code</h3>
  <p>Language: {{ s.language_name }}</p>
  <pre><code>{{ s.code }}</code></pre>
  <h3>Subtasks</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Accepted</th>
      <th>Score</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Judge Time</th>
    </tr>
{% for st in s.subtasks %}
    <tr>
      <td>{{ st.subtask_id }}</td>
      <td>{% include "components/yes-no-unsure.html" with {"yes": st.accepted, "no": st.rejected} %}</td>
      <td>{% include "components/min-max-full.html" with {"min": st.minscore, "max": st.maxscore, "full": st.fullscore} %}</td>
      <td>{% if not st.time is null %}{{ st.time }} ms {% endif %}</td>
      <td>{% if not st.memory is null %}{{ st.memory }} KiB{% endif %}</td>
      <td>{% include "components/timestamp.html" with {"time": st.judge_time} %}</td>
    </tr>
{% endfor %}
  </table>
  <h3>Test Cases</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Accepted</th>
      <th>Verdict</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Judge</th>
      <th>Judge Time</th>
    </tr>
{% for tc in s.testcases %}
    <tr>
      <td><a href="{{ path_for('testcase', { 'problem_id': s.problem_id, 'testcase_id': tc.testcase_id }) }}">{{ tc.testcase_id }}</a></td>
      <td>{{ tc.accepted is null ? "" : (tc.accepted ? "Yes" : "No") }}</td>
      <td>{{ tc.verdict }}</td>
      <td>{% if not tc.time is null %}{{ tc.time }} ms {% endif %}</td>
      <td>{% if not tc.memory is null %}{{ tc.memory }} KiB{% endif %}</td>
      <td>{{ tc.judge_name }}</td>
      <td>{% include "components/timestamp.html" with {"time": tc.judge_time} %}</td>
    </tr>
{% endfor %}
  </table>
{% endblock content %}
