{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Submissions - {{ parent() }}{% endblock %}

{% block h2 %}Submissions{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>ID</th>
      <th>Problem</th>
      <th>Submitter</th>
      <th>Accepted</th>
      <th>Score</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Language</th>
      <th>Submit Time</th>
      <th>Judge Time</th>
    </tr>
{% for s in submissions %}
    <tr>
      <td><a href="{{ path_for('submission', { 'submission_id': s.id }) }}">{{ s.id }}</a></td>
      <td><a href="{{ path_for('problem', { 'problem_id': s.problem_id }) }}">{{ s.problem_title }}</a></td>
      <td><a href="{{ path_for('user', {'user_id': s.submitter_id }) }}">{{ s.submitter_username }}</a></td>
      <td>{% include "components/yes-no-unsure.html" with {"yes": s.accepted, "no": s.rejected} %}</td>
      <td>{% include "components/min-max-full.html" with {"min": s.minscore, "max": s.maxscore, "full": s.fullscore} %}</td>
      <td>{% if not s.time is null %}{{ s.time }} ms {% endif %}</td>
      <td>{% if not s.memory is null %}{{ s.memory }} KiB{% endif %}</td>
      <td>{{ s.language_name }}</td>
      <td>{% include "components/timestamp.html" with {"time": s.submit_time} %}</td>
      <td>{% include "components/timestamp.html" with {"time": s.judge_time} %}</td>
    </tr>
{% endfor %}
  </table>
{% endblock content %}
