# Data source name. This is directly passed to asyncpg,
# so refer to their documentation for detail.
#dsn = postgres://@/toyoj

# Name of the judge passed to the database (and shown to user).
# This default is platform.node()[:32], unless it is empty,
# in which case the default is "unnamed-judge".
#name = unnamed-judge

# Number of connection the database connection pool will be initialized with.
# This is directly passed to asyncpg, so refer to their documentation.
#min-conn = 2

# Max number of connections in the pool.
# This is directly passed to asyncpg, so refer to their documentation.
#max-conn = 2

# The number of sandbox. This is the number of concurrent tasks.
#max-sandbox = 1

# The maximum number of tasks claimed by the judge but the result is
# not yet written to the database.
# The default is twice of max-sandbox.
#max-pending-task = 2

# This is sent to loggings.basicConfig.
# The default is printing to standard error instead if unspecified.
log-file = /var/log/toyoj-judge.log

# This is sent to loggings.basicConfig. This can be a number or
# one of CRITICAL, ERROR, WARNING, INFO, DEBUG or NOTSET.
# The default is WARNING if unspecified.
log-level = INFO
