body {
    background-color: #E6EBF0;
    margin: 0;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #34495e;
}
body > * {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
h1 {
    color: white;
    background-color: #003365;
    margin: 0;
    float: left;
    height: 3.3rem;
    padding-left: 2rem;
    margin-bottom: 2.0rem;
}
a {
    color: #16a085;
    transition: 0.25s;
}
a:hover {
    color: #1abc9c;
    transition: 0.25s;
}
footer {
    margin-top: 1rem;
}
.nav1 {
    color: white;
    background-color: #003365;
    margin: 0;
    padding-left: 1.2rem;
    margin-bottom: 2.0rem;
}
.nav1 a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 1.2rem;
    height: 1.1rem;
    font-size: 16px;
    font-weight: 700;
}
.nav1 a:hover {
    color: #1abc9c;
}
table {
    border-collapse: collapse;
}
body > table {
    width: 90%;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
}
td, th {
    border: none;
    text-align: left;
}
.message {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.3rem;
}
.success-message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.close-button {
    float: right;
    color: black;
    opacity: 0.2;
}
.close-button:hover {
    opacity: 0.5;
}
