{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
<!DOCTYPE html>
<html>
<head>
{% block head %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Toy Online Judge{% endblock %}</title>
  <link rel="stylesheet" href="/default.css" title="Default Style">
{% endblock %}
</head>
<body>
  <h1>Toy Online Judge</h1>
  <nav>
    <a href="{{ path_for('index') }}">Index</a>
    <a href="{{ path_for('problem-list') }}">Problems</a>
    <a href="{{ path_for('submission-list') }}">Submissions</a>
    <a href="{{ path_for('user-list') }}">Users</a>
{% if loggedIn %}
    <a href="{{ path_for('logout') }}">Log out</a>
{% else %}
    <a href="{{ path_for('login') }}">Log in</a>
    <a href="{{ path_for('signup') }}">Sign up</a>
{% endif %}
  </nav>
{% block content %}
  Please override <code>block content</code>.
{% endblock %}
</body>
</html>
