{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Log In - {{ parent() }}{% endblock %}
{% block content %}
  <h2>Log In</h2>
{% if login %}
{% include "message.html" with {"message" : "You are already logged in."} %}
{% endif %}
  <form method="post"><fieldset{% if login %} disabled{% endif %}>
    <div>
      <label>
        Username: <input type="text" name="username" autofocus>
      </label>
    </div>
    <div>
      <label>
        Password: <input type="password" name="password">
      </label>
    </div>
    <div>
      <input type="submit" value="Log in">
    </div>
  </fieldset></form>
{% endblock %}
