{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}{{ problem.title }} - {{ parent() }}{% endblock %}
{% block head %}
{{ parent() }}{##}
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_CHTML"></script>
{% endblock %}

{% block nav %}
{{ parent() }}{##}
{% if problem.canedit %}
    <a href="{{ path_for('edit-problem', { 'pid': problem.pid }) }}">Edit</a>
{% else %}
    <a href="{{ path_for('edit-problem', { 'pid': problem.pid }) }}">View Source</a>
{% endif %}
{% endblock %}

{% block content %}
  <h2>{{ problem.title }}</h2>
  {{ problem.statement|markdown }}
  <h3>Creation date</h3>
  <time datetime="{{ problem.create_date|date('c') }}">{{ problem.create_date|date('Y-m-d') }}</time>
  <h3>Manager</h3>
  <a href="{{ path_for('user', {'uid': problem.manager }) }}">{{ problem.manager_name }}</a><br>
  <h3>Subtasks</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Score</th>
      <th>Test Cases</th>
    </tr>
{% for subt in subtasks %}
    <tr>
      <td>{{ subt.subtaskid }}</td>
      <td>{{ subt.score }}</td>
      <td>{{ subt.testcaseids }}</td>
    </tr>
{% endfor %}
  </table>
  <h3>Test Cases</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
{% for case in testcases %}
    <tr>
      <td><a href="{{ path_for('test', { 'pid': problem.pid, 'testid': case.testcaseid }) }}">{{ case.testcaseid }}</a></td>
      <td>{{ case.time_limit }} ms</td>
      <td>{{ case.memory_limit }} KiB</td>
      <td>{{ case.checker }}</td>
    </tr>
{% endfor %}
  </table>
{% if login %}
  <h3>Submission Area</h3>
{% if not problem.ready %}
{% include "message.html" with {"message" : "This problem is not ready for submission."} %}
{% endif %}
{% if problem.cansubmit %}
  <form method="post"><fieldset>
    <input type="hidden" name="language" value="C++14">
    <div>
      <label>
        Paste your code here:
        <textarea name="code" cols="80" rows="22" wrap="off"></textarea>
      </label>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </fieldset></form>
{% endif %}
{% endif %}
{% endblock %}
