{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}{{ problem.title }} - {{ parent() }}{% endblock %}
{% block content %}
  <h2>{{ problem.title }}</h2>
  {{ problem.statement|markdown }}
  <h3>Submission Area</h3>
{% if not loggedIn %}
  <div class="message">
    You must sign in to submit.
  </div>
{% endif %}
{% if not problem.ready %}
  <div class="message">
    This problem is not ready for submission.
  </div>
{% endif %}
  <form method="post"><fieldset{% if not loggedIn or not problem.ready %} disabled{% endif %}>
    <input type="hidden" name="language" value="C++14">
    <div>
      <label>
        Paste your code here:
        <textarea name="code" cols="80" rows="22" wrap="off"></textarea>
      </label>
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </fieldset></form>
  <h3>Creation date</h3>
  <time datetime="{{ problem.create_date|date('c') }}">{{ problem.create_date|date('Y-m-d') }}</time>
  <h3>Manager</h3>
  <a href="{{ path_for('user', {'uid': problem.manager }) }}">{{ problem.manager_name }}</a><br>
  <h3>Subtasks</h3>
  Under construction
  <h3>Test Cases</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
{% for case in testcases %}
    <tr>
      <td>{{ case.testcaseid }}</td>
      <td>{{ case.time_limit }} ms</td>
      <td>{{ case.memory_limit }} Kib</td>
      <td>{{ case.checker }}</td>
    </tr>
{% endfor %}
  </table>
{% endblock %}
