{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}

{% block title %}Edit {{ problem.title }} - {{ parent() }}{% endblock %}

{% block nav %}
{{ parent() }}{##}
    <a href="{{ path_for('problem', { 'pid': problem.pid }) }}">View Problem</a>
{% endblock %}

{% block content %}
  <h2>Edit {{ problem.title }}</h2>
  <form method="post"><fieldset>
    <div>
      <label>
        Title: <input type="text" name="title" value="{{ problem.title }}">
      </label>
    </div>
    <div>
      <label>
        Statement:
        <textarea name="statement" cols="80" rows="22" wrap="off">{{ problem.statement }}</textarea>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="ready" value="ready"{% if problem.ready %} checked{% endif %}> Ready for submission
      </label>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </fieldset></form>
  <h3>Subtasks</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Score</th>
      <th>Test Cases</th>
    </tr>
{% for subt in subtasks %}
    <tr>
      <td>{{ subt.subtaskid }}</td>
      <td>{{ subt.score }}</td>
      <td>{{ subt.testcaseids }}</td>
    </tr>
{% endfor %}
  </table>
  <h3>Test Cases</h3>
  <a href="{{ path_for('new-test', { 'pid': problem.pid }) }}">New Test Case</a>
  <table>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
{% for case in testcases %}
    <tr>
      <td><a href="{{ path_for('edit-test', { 'pid': problem.pid, 'testid': case.testcaseid }) }}">{{ case.testcaseid }}</a></td>
      <td>{{ case.time_limit }} ms</td>
      <td>{{ case.memory_limit }} KiB</td>
      <td>{{ case.checker }}</td>
    </tr>
{% endfor %}
  </table>
{% endblock %}
