{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}

{% block title %}Edit {{ problem.title }} - {{ parent() }}{% endblock %}

{% block h2 %}Edit {{ problem.title }}{% endblock %}

{% block nav2 %}
{{ parent() }}{##}
    <a href="{{ path_for('problem', { 'pid': problem.id }) }}">View Problem</a>
    <a href="{{ path_for('subtask-new', { 'pid': problem.id }) }}">New Subtask</a>
    <a href="{{ path_for('test-new', { 'pid': problem.id }) }}">New Test Case</a>
{% endblock nav2 %}

{% block content %}
  <form method="post"><fieldset>
    <div>
      <label>
        Title: <input type="text" name="title" value="{{ problem.title }}">
      </label>
    </div>
    <div>
      <label>
        Statement:
        <textarea name="statement" cols="80" rows="22" wrap="off">{{ problem.statement }}</textarea>
      </label>
    </div>
    <div>
      <label>
        <input type="checkbox" name="ready" value="ready"{% if problem.ready %} checked{% endif %}> Ready for submission
      </label>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </fieldset></form>
  <h3>Subtasks</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Score</th>
      <th>Test Cases</th>
    </tr>
{% for subtask in problem.subtasks %}
    <tr>
      <td><a href="{{ path_for('subtask-edit', { 'pid': problem.id, 'subtaskid': subtask.id }) }}">{{ subtask.id }}</a></td>
      <td>{{ subtask.score }}</td>
      <td>{{ subtask.testcase_ids }}</td>
    </tr>
{% endfor %}
  </table>
  <h3>Test Cases</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
      <th>Subtasks</th>
    </tr>
{% for testcase in problem.testcases %}
    <tr>
      <td><a href="{{ path_for('test-edit', { 'pid': problem.id, 'testid': testcase.id }) }}">{{ testcase.id }}</a></td>
      <td>{{ testcase.time_limit }} ms</td>
      <td>{{ testcase.memory_limit }} KiB</td>
      <td>{{ testcase.checker_name }}</td>
      <td>{{ testcase.subtask_ids }}</td>
    </tr>
{% endfor %}
  </table>
{% endblock content %}
