{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Submissions - {{ parent() }}{% endblock %}

{% block h2 %}Submissions{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>ID</th>
      <th>Problem</th>
      <th>Submitter</th>
      <th>Accepted</th>
      <th>Score</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Language</th>
      <th>Submit Time</th>
      <th>Judge Time</th>
    </tr>
{% for subm in submissions %}
    <tr>
      <td><a href="{{ path_for('submission', { 'sid': subm.sid }) }}">{{ subm.sid }}</a></td>
      <td><a href="{{ path_for('problem', { 'pid': subm.pid }) }}">{{ subm.title }}</a></td>
      <td><a href="{{ path_for('user', {'uid': subm.submitter }) }}">{{ subm.submitter_name }}</a></td>
      <td>{% if not subm.accepted is null %}{{ subm.accepted ? "Yes" : (subm.rejected ? "No" : "Unsure") }}{% endif %}</td>
      <td>{% if not subm.fullscore is null %}{% if subm.minscore == subm.maxscore %}{{ subm.minscore }}{% else %}({{ subm.minscore }} &ndash; {{subm.maxscore}}){% endif %} / {{ subm.fullscore }}{% endif %}</td>
      <td>{% if not subm.time is null %}{{ subm.time }} ms {% endif %}</td>
      <td>{% if not subm.memory is null %}{{ subm.memory }} KiB{% endif %}</td>
      <td>{{ subm.language }}</td>
      <td><time datetime="{{ subm.submit_time|date('c') }}">{{ subm.submit_time|date('Y-m-d H:i:s') }}</time></td>
      <td>{% if not subm.judge_time is null %}<time datetime="{{ subm.judge_time|date('c') }}">{{ subm.judge_time|date('Y-m-d H:i:s') }}</time>{% endif %}</td>
    </tr>
{% endfor %}
  </table>
{% endblock content %}
