{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}

{% block title %}Edit Subtask #{{ subtask.id }} of {{ subtask.problem.title }} - {{ parent() }}{% endblock %}

{% block h2 %}Edit Subtask #{{ subtask.id }} of {{ subtask.problem.title }}{% endblock %}

{% block nav2 %}
{{ parent() }}{##}
    <a href="{{ path_for('subtask', { 'problem_id': subtask.problem.id, 'subtask_id' : subtask.id }) }}">View Subtask</a>
{% endblock nav2 %}

{% block content %}
  <form method="post">
    <div>
      <label>
        Score: <input type="number" name="score" min="1" value="{{ subtask.score }}">
      </label>
    </div>
{% for rel in subtask.testcase_exists %}
    <div>
      <label>
        <input type="checkbox" name="testcase_ids[]" value="{{ rel.testcase_id }}"{% if rel.exists %} checked{% endif %}> Test Case #{{ rel.testcase_id }}
      </label>
    </div>
{% endfor %}
    <div>
      <button type="submit" name="update" value="update">Save</button>
      <button type="button" class="dangerous-button" data-dialog-id="dialog1">Delete</button>
      <dialog id="dialog1">
        <h3>Are you ABSOLUTELY sure?</h3>
        <p>
          This action <strong>CANNOT</strong> be undone.
          This will delete subtask #{{ subtask.id }} permanently.
        </p>
        <p>
          Please type in the id of the subtask to confirm.
        </p>
        <input type="text" class="answer-field" data-answer="{{ subtask.id }}">
        <button type="submit" name="delete" value="delete" class="confirm-button" disabled>Delete</button>
        <button type="button" class="cancel-button">Cancel</button>
      </dialog>
    </div>
  </form>
{% endblock content %}
