{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}

{% block title %}Edit Test Case #{{ testcase.testcaseid }} of {{ testcase.title }} - {{ parent() }}{% endblock %}

{% block nav %}
{{ parent() }}{##}
    <a href="{{ path_for('test', { 'pid': testcase.pid, 'testid': testcase.testcaseid }) }}">View Test Case</a>
{% endblock %}

{% block content %}
  <h2>Edit Test Case #{{ testcase.testcaseid }} of {{ testcase.title }}</h2>
{% if not testcase.canedit %}
  <div class="message">
    You cannot edit this test case.
  </div>
{% endif %}
  <form method="post"><fieldset{% if not testcase.canedit %} disabled{% endif %}>
    <div>
      <label>
        Time: <input type="text" name="time_limit" value="{{ testcase.time_limit }}">
      </label>
    </div>
    <div>
      <label>
        Memory: <input type="text" name="memory_limit" value="{{ testcase.memory_limit }}">
      </label>
    </div>
    <div>
      <label>
        Checker: <input type="text" name="checker" value="{{ testcase.checker }}">
      </label>
    </div>
    <div>
      <label>
        Input:
        <textarea name="input" cols="80" rows="22" wrap="off">{{ testcase.input }}</textarea>
      </label>
    </div>
    <div>
      <label>
        Output:
        <textarea name="output" cols="80" rows="22" wrap="off">{{ testcase.output }}</textarea>
      </label>
    </div>
    <div>
      <input type="submit" value="Save">
    </div>
  </fieldset></form>
{% endblock %}
