{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Test Case #{{ testcase.id }} of {{ testcase.problem.title }} - {{ parent() }}{% endblock %}

{% block h2 %}Test Case #{{ testcase.id }} of {{ testcase.problem.title }}{% endblock %}

{% block nav2 %}
{{ parent() }}{##}
{% if testcase.canedit %}
    <a href="{{ path_for('testcase-edit', { 'problem_id': testcase.problem_id, 'testcase_id': testcase.id }) }}">Edit</a>
{% endif %}
{% endblock nav2 %}

{% block content %}
  <h3>General</h3>
  <table>
    <tr>
      <th>Problem</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
    <tr>
      <td><a href="{{ path_for('problem', { 'problem_id': testcase.problem_id }) }}">{{ testcase.problem.title }}</a></td>
      <td>{{ testcase.time_limit }} ms</td>
      <td>{{ testcase.memory_limit }} KiB</td>
      <td>{{ testcase.checker_name }}</td>
    </tr>
  </table>
  <h3>Input</h3>
  <pre><code>{{ testcase.input }}</code></pre>
  <h3>Output</h3>
  <pre><code>{{ testcase.output }}</code></pre>
{% endblock content %}
