{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Test Case #{{ testcase.testcaseid }} of {{ problem.title }} - {{ parent() }}{% endblock %}
{% block content %}
  <h2>Test Case #{{ testcase.testcaseid }} of {{ problem.title }}</h2>
  <h3>General</h3>
  <table>
    <tr>
      <th>Problem</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
    <tr>
      <td><a href="{{ path_for('problem', { 'pid': problem.pid }) }}">{{ problem.title }}</a></td>
      <td>{{ testcase.time_limit }} ms</td>
      <td>{{ testcase.memory_limit }} KiB</td>
      <td>{{ testcase.checker }}</td>
    </tr>
  </table>
  <h3>Input</h3>
  <pre><code>{{ testcase.input }}</code></pre>
  <h3>Output</h3>
  <pre><code>{{ testcase.output }}</code></pre>
{% endblock %}
