{# vim: se ft=html.twig sw=2 ts=2 sts=2: #}
{% extends "base.html" %}
{% block title %}Test Case #{{ testcase.testcaseid }} of {{ testcase.title }} - {{ parent() }}{% endblock %}

{% block nav %}
{{ parent() }}{##}
{% if login == testcase.manager %}
    <a href="{{ path_for('edit-test', { 'pid': testcase.pid, 'testid': testcase.testcaseid }) }}">Edit Test Case</a>
{% endif %}
{% endblock %}

{% block content %}
  <h2>Test Case #{{ testcase.testcaseid }} of {{ testcase.title }}</h2>
  <h3>General</h3>
  <table>
    <tr>
      <th>Problem</th>
      <th>Time</th>
      <th>Memory</th>
      <th>Checker</th>
    </tr>
    <tr>
      <td><a href="{{ path_for('problem', { 'pid': testcase.pid }) }}">{{ testcase.title }}</a></td>
      <td>{{ testcase.time_limit }} ms</td>
      <td>{{ testcase.memory_limit }} KiB</td>
      <td>{{ testcase.checker }}</td>
    </tr>
  </table>
  <h3>Input</h3>
  <pre><code>{{ testcase.input }}</code></pre>
  <h3>Output</h3>
  <pre><code>{{ testcase.output }}</code></pre>
{% endblock %}
